@page
@model SMSystems.UI.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.SessionValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.SessionValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.TotalValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.TotalValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.EmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.EmissionDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Invoice?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
