@page
@model SMSystems.UI.Pages.Invoices.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.SessionValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.SessionValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.TotalValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.TotalValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice.EmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Invoice.EmissionDate)
        </dd>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>
                        Sessões
                    </td>
                </tr>

                @foreach (var session in Model.Sessions)
                {
                    <tr>
                        <td>
                            @session.Date.ToShortDateString() -  @session.Value.ToString("C")
                        </td>
                    </tr>
                }
            </table>
        </div>

    </dl>
</div>
<div>
    <table width="100%">
        <tr>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Invoice?.ID">Editar</a>

            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Index">Voltar</a>

            </td>
            <td>
                <form method="post">
                    <button class="btn btn-primary" type="submit">Gerar PDF</button>
                </form>

            </td>
        </tr>
    </table>

</div>
