@page
@model SMSystems.UI.Pages.Invoices.IndexModel

@{
    ViewData["Title"] = "Recibos";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <p>
                    <input id="searchBar" type="text" asp-for="SearchString" />
                    <input type="submit" class="btn btn-primary" value="Buscar" />
                </p>
            </form>
        </div>

        <div class="col-md-4 ml-auto">
            <a class="btn btn-primary float-right" asp-page="Create">Cadastrar Novo</a>
        </div>
    </div>
</div>

<div class="container" style="max-height:600px; overflow-y:scroll;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Invoices[0].SessionValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Invoices[0].TotalValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Invoices[0].EmissionDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Invoices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SessionValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmissionDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID"><img src="~/css/Icons/edit.png" alt="Editar" width="32" height="32" /></a> |
                        <a asp-page="./Details" asp-route-id="@item.ID"> <img src="~/css/Icons/details.png" alt="Detalhes" width="32" height="32" /></a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">  <img src="~/css/Icons/delete.png" alt="Deletar" width="32" height="32" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
