@page
@model SMSystems.UI.Pages.Patients.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h4>Tem certeza que quer deletar este paciente?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.SocialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.SocialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.ICD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.ICD)
        </dd>
    </dl>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
    <form method="post">
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="hidden" asp-for="Patient.ID" />
                    <div class="mb-2 w-100">
                        <input type="submit" value="Deletar" class="btn btn-danger w-100 w-md-auto" />
                    </div>
                    <div class="mb-2 w-100">
                        <a class="btn btn-secondary w-100 w-md-auto" asp-page="./Index">Voltar</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
