@page
@model SMSystems.UI.Pages.Patients.EditPatientModel
@{
}
<h1>Edit patient</h1>

<div class="container mt-4">
      <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="Name" value="@Model.Patient.Name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="socialNumber">Social Number:</label>
                    <input type="text" class="form-control" id="socialNumber" name="SocialNumber" value="@Model.Patient.SocialNumber" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" class="form-control" id="phone" name="Phone" value="@Model.Patient.Phone" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="Email" value="@Model.Patient.Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="icd">ICD:</label>
                    <input type="text" class="form-control" id="icd" name="ICD" value="@Model.Patient.ICD" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="birthDate">Birth Date:</label>
                    <input type="date" class="form-control" id="birthDate" name="BirthDate" value="@Model.Patient.BirthDate.ToString("yyyy-MM-dd")" />
                </div>
            </div>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <a asp-page="/Patients/ListPatients" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </form>
</div>

