@page
@using SMSystems.UI.ViewModels.Pager
@model ListPatientsModel
@{

    Pager pager = new Pager();

    int pageNo = 0;

    if (Model.Patients != null)
    {
        pager = (Pager)ViewData["PagerPatients"];
        pageNo = pager.CurrentPage;
    }
}

<table class="table table-sm">
    <tr>
        <th scope="col">
            ID
        </th>
        <th scope="col">
            Nome
        </th>
        <th scope="col">
            CPF
        </th>
        <th scope="col">
            Ativo?
        </th>
        <th scope="col">
            Nascimento
        </th>
        <th scope="col">
            Email
        </th>

    </tr>
    @foreach (var patient in Model.Patients)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelPatient => patient.ID)
            </td>
            <td>
                @Html.DisplayFor(modelPatient => patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelPatient => patient.SocialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelPatient => patient.Active)
            </td>
            <td>
                @Html.DisplayFor(modelPatient => patient.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelPatient => patient.Email)
            </td>
            <td>
                <form method="post">
                    <a asp-page="/Patients/EditPatient" asp-route-id="@patient.ID">Edit Patient</a>
                </form>
            </td>
        </tr>
    }
</table>
<div class="container">
    <ul class="pagination justify-content-end">

        @if (pager.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-asp-controller="Patients" asp-action="ListPatients" asp-route-pg="1"> Primeira </a>
            </li>
            <li>
                <a class="page-link" asp-asp-controller="Patients" asp-action="ListPatients" asp-route-pg="@(pager.CurrentPage -1)">Anterior</a>
            </li>
        }


        @if (pager.TotalPages > 0)
        {

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active": "")">
                    <a class="page-link" asp-asp-controller="Patients" asp-action="ListPatients" asp-route-pg="@pge">@pge</a>
                </li>
            }


        }

        @if (pager.CurrentPage < pager.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-asp-controller="Patients" asp-action="ListPatients" asp-route-pg="@(pager.CurrentPage + 1)">Próxima</a>
            </li>
            <li>
                <a class="page-link" asp-controller="=Patients" asp-action="ListPatients" asp-route-pg="@pager.TotalPages">Última</a>
            </li>
        }
    </ul>
</div>